body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/* -------------- Navegador -------------- */

header {
    background-color: blueviolet;
    padding: 20px;
    border-radius: 5%;
    border-style: groove;
}

footer {
    background-color: blueviolet;
    padding: 20px;
    border-radius: 5%;
    border-style: groove;
    display: flex;
    text-shadow: 1px 1px 3px white;
}

footer section {
    padding: 20px;
    margin-left: 100px;
}

.btn-group .buttonNav {
    background-color: aqua;
    border: 1px solid green;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: none;
}

.btn-group .buttonNav:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}

.btn-group .buttonNav:hover, .logout:hover {
    background-color: rgb(1, 206, 206);
}

.btn-group .buttonNav:disabled {
    background-color: darkcyan;
}

.btn-group .logout {
    float: right;
}

/* Para campos obrigatorios */

.requiredField {
    color: darkred;
}