  input, textarea, select {
    margin-bottom: 8px;
    border-radius: 4px;
    border-width: 3px;
    border-style: groove;
    border-color: royalblue;
  }

  .buttonForm {
    position: relative;
    background-color: royalblue;
    border: none;
    font-size: 12px;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .buttonForm:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .buttonForm:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }