.primeiroBloco {
    display: flex;
}

.polaroid {
    width: 50%;
    background-color: blueviolet;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    padding: 10px;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.imagemPrincipal {
    width: 100%;
}

.imagemDescricao {
    padding: 15px;
    width: 50%;
}

.segundoBloco {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: red;
    position: relative;
    animation: linear infinite;
    animation-name: animacao;
    animation-duration: 30s;
}

@keyframes animacao {
    0% {
        background-color: red;
        left: 0%;
        top: 0px;
        opacity: 0%;
    }
    25% {
        background-color: yellow;
        left: 25%;
        top: 0px;
        opacity: 75%;
    }
    50% {
        background-color: blue;
        left: 50%;
        top: 0px;
        opacity: 100%;
    }
    75% {
        background-color: green;
        left: 75%;
        top: 0px;
        opacity: 75%;
    }
    100% {
        background-color: red;
        left: 92%;
        top: 0px;
        opacity: 0%;
    }
}